{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron">
        <h2>The most secure social network ever.</h2>
        <p class="lead">We've worked hard to make MyFace the most secure social networking site ever.</p>
        <br>
        <p>
            <a class="btn btn-lg btn-success" href="signup" role="button">Sign up today</a> &nbsp;
            <a class="btn btn-lg btn-primary" href="login" role="button">Log In Securely</a>
        </p>
    </div>

{% endblock %}